{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.ci.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-ignore": 1,
    "@typescript-eslint/camelcase": 0
  }
}
